*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
}
.app{
    width: 100vw;
    height: 100vh;

}
.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.left{
    flex: 2.5;
    background: linear-gradient(to bottom, rgba(0,0,0,0),#020230), url('./assets/bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;

}
.left-top{
    flex: 1.5;
    position: relative;
    display: flex;
    flex-direction: row;

}
.nextQuestion {
    position: fixed;
    top: 37%;
    right: 33%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 23px;
    cursor: pointer;
    color: white;
    background-color: black;
}
 .nextQuestion:hover{
    transform: scale(1.1);
}

.left-top button:hover{
    transform: scale(1.1);
}
.left-top p{
    position: fixed;
    width: 80px;
    height: 80px;
    font-size: 58px;
    color: white;
    position: relative;
    top: 150%;
    left: 7%;
    padding: 15px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.left-bottom{
flex: 1;
}

.left-bottom .text-qts{
    width: 80%;
    background: linear-gradient(#100241, black);
    margin: 0 auto;
    padding: 25px 10px;
    border-radius: 3px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid white;
    flex-direction: column;
}
.left-bottom .text-qts p{
    color: white;
    font-weight: bolder;
    font-size: 28px;
}
.left-bottom .text-qts img{
    width: 400px;
    height: 300px;
}

.left-bottom .text-ans{
    width: 80%;
    margin: 0 auto;
    border-radius: 3px;
    justify-content:center;
    height: 210px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

}

.left-bottom .text-ans .p {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    background: linear-gradient(#100241, black);
    border: 2px solid white;
    cursor: pointer;
    width: 400px;
    height: 80px;

}



.left-bottom .text-ans .p:hover,
.left-bottom .text-ans .p.active
{
    background: linear-gradient(90deg, rgb(171, 169, 200) 1%, rgb(98, 129, 195) 17%, rgb(90, 90, 204) 84%, rgb(11, 47, 54) 100%);
}

.left-bottom .text-ans .p.correctAns{
  animation: correctAnimation 3s ease forwards;
}
.left-bottom .text-ans .p.wrongAns{
    animation: wrongAnmiation 3s ease forwards;
  }

@keyframes correctAnimation {
    0%,22%,42%{
        background: aqua;
    }
    20%,40%,60%{
        background: blue;
    }
    62%, 100%{
        background: green;
    }
}

  @keyframes wrongAnmiation {
    0%,22%,42%{
        background: aqua;
    }
    20%,40%,60%{
        background: blue;
    }
    62%, 100%{
        background: crimson;
    }
}


.right{
    flex: 1;
    background-color: #020230;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right .div{
    display: flex;
    padding-left: 15px;
    line-height: 2;

}
.active{
    background-color: rgb(87, 148, 148);
    border-radius: 3px;
}
.right .div p, .right .div span{
    font-size: 26px;
    color: white;
}
.right .div p{
    margin-right: 25px;
}


